body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
    background-color: rgb(194, 194, 194);
}


button{
    padding: 20px;
    font-size: 20px;
    background-color: pink;
    border-radius:  15px;
}

.form-group{

    padding: 10px;
    font-size: 20px;
    background-color: rgb(250, 217, 222);
    border-radius:  15px;
   
}


.resultado{

    padding: 5px;
    font-size: 20px;
    background-color: rgb(255, 209, 217);
    border-radius:  15px;
    
}
    